/* Log in CSS Document */

.flt{ float:left;
}
.flt1{ clear:left; float:left;
}
.flt2{ float:right;
}


.lp_block{ display:inline; width:260px; margin:5px 20px 20px 50px;}
.lp_imgpair{ margin:5px 0px 0px 15px;}
.lp_txtmem,.lp_txtour,.lp_txtclint{ font-family: Tahoma, Geneva, sans-serif; font-size: 18px; color:#ffffff; margin:5px 0px 0px 15px;}
.lp_txtmem2{ float: left; font-family: Tahoma, Geneva, sans-serif;font-size: 18px; color:#ffffff; margin:10px 0px 0px 80px;}

.lp_txtlog,.lp_txtlog2{ font-family: Tahoma, Geneva, sans-serif; font-size: 14px; color:#ffffff; margin:15px 0px 0px 18px; width:54px;}
.lp_txtlog2{ margin:6px 0px 0px 18px;}
.lp_textbox,.lp_textbox2{ display:inline; width:110px; height:16px; margin:14px 0px 0px 8px; border:1px solid #8AC5E5;}
.lp_textbox2{ margin:4px 0px 0px 8px; border:1px solid #8AC5E5;}
.lp_arrow{ margin:4px 4px 4px 5px;}
